html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
.logo .cta {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #87e2ef 0%, #b8e9c5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

h1 {
  color: #1b203d;
  font-size: 2.5em;
}

.cta {
  background-color: #e9e9e9;
  text-decoration: none;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 5px;
  border: solid 1px #000000;
}

.cta:hover {
  background-color: #c6c4c4;
}

/* NAV */
.nav {
  max-width: 1000px;
}

.logo {
  display: inline-block;
  width: 100px;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links a {
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
}

nav ul a {
  color: #000000;
}

nav ul a:hover {
  color: #ffffff;
}

.searchbar {
  border-radius: 28px;
  font-size: 17px;
  padding: 5px 150px;
  text-align: center;
}

/* TOPNAV */
.topnav {
  display: flex;
  justify-content: flex-end;
  background: #1b203d;
  padding: 5px;
}

.topnav__links {
  color: #ffffff;
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
}

.topnav-icons {
  color: #ffffff;
  margin-left: 2px;
}

/* Frontpage */
.welcome {
  position: relative;
}

.get__started {
  position: absolute;
  text-align: center;
  bottom: 100px;
  left: 45px;
}

.frontpage__images {
  display: grid;
  grid-template-columns: 1fr;
  margin: 300px auto 20px auto;
  max-width: 1000px;
  grid-gap: 20px;
}

.frontpage__images img {
  width: 100%;
}

/* SEARCH PAGE */
.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 275px 275px 275px 275px;
  grid-column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  justify-content: center;
}

.search {
  text-align: center;
  text-decoration: underline;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* CONTACT */

.grid-container2 {
  display: grid;
  grid-template-columns: 275px 275px 275px;
  grid-template-rows: 275px 275px 275px;
  grid-column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

/* LINKS */
a {
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #e7ebe4;
  min-height: 170px;
  text-align: center;
}

.footer-icon {
  color: #1b203d;
}

.footer__left {
  float: left;
}

.footer__right {
  float: right;
}

@media (min-width: 600px) {
  .frontpage__images {
    grid-template-columns: repeat(3, 1fr);
  }
  .cta {
    padding: 10px 100px;
  }

  .get__started {
    left: 1070px;
    bottom: 100px;
  }

  h1 {
    font-size: 4em;
  }

  .logo {
    display: inline-block;
    width: 280px;
    margin: 40px;
  }
}
