html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
.topnav,
nav,
.container-contact,
.cta {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p,
input {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background: linear-gradient(to bottom right, #87e2ef 0%, #b8e9c5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}

.logo {
  width: 200px;
}

.frontpage-logo {
  width: 200px;
}

a {
  text-decoration: none;
}

.current {
  text-decoration: underline;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

header label {
  margin-right: 200px;
}

/* NAV */

.navbar {
  display: none;
  position: fixed;
  background: #1b203d;
  right: 0px;
  margin-top: 31px;
}

nav li {
  display: block;
  padding: 4px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#hamburger-menu {
  display: none;
}

.nav-links a {
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul a {
  color: #000000;
}

.navbar ul a:hover {
  color: #ffffff;
}

nav ul a:hover {
  font-weight: bold;
}

.searchbar {
  border-radius: 28px;
  font-size: 17px;
  text-align: center;
}

/* TOPNAV */

.topnav {
  display: flex;
  justify-content: flex-end;
  background: #1b203d;
  align-items: center;
}

.topnav__links {
  color: #ffffff;
  font-size: 1.25em;
  padding: 10px;
  text-decoration: none;
}

.topnav-icons {
  color: #ffffff;
  margin-left: 2px;
}

/* Footer */
footer {
  min-height: 20vh;
  background: #e7ebe4;
}

.footer-2 {
  font-family: Arial, Helvetica, sans-serif;
}

.container-footer {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-1 {
  display: flex;
  flex-direction: column;
}

.footer-1 i {
  margin: 0.5em;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer-2 a {
  margin-bottom: 2em;
}

.footer-3 {
  display: flex;
  flex-direction: column;
}

.footer-3 i {
  margin: 0.5em;
}

.footer-icon {
  color: #1b203d;
}

@media (min-width: 600px) {
  header {
    display: flex;
    align-items: center;
    margin: 50px 200px;
  }

  .frontpage-logo {
    width: 290px;
  }

  .nav-links a {
    display: inline-block;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
  }

  .nav-links {
    list-style: none;
  }

  .navbar {
    display: block;
    position: static;
    background: none;
    margin-top: 0px;
  }

  nav li {
    display: inline-block;
    padding: 0;
  }

  header label {
    display: none;
  }
}
@media (min-width: 800px) {
  .footer-1 {
    display: flex;
    flex-direction: row;
  }

  .footer-3 {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1800px) {
  .searchbar {
    border-radius: 28px;
    font-size: 17px;
    padding: 5px 100px;
    text-align: center;
  }
}
