.thank-you {
  display: flex;
  background: #ffffff;
  margin: auto;
  justify-content: center;
  max-width: 450px;
  height: 550px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.purchase {
  font-size: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 50px;
  text-align: center;
}

.icon-success {
  color: #0b8740;
  display: flex;
}

.icon-success {
  font-size: 10em;
  margin-left: 115px;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .purchase {
    font-size: 60px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-top: 50px;
  }

  .icon-success {
    font-size: 20em;
    margin-left: 250px;
    margin-top: 50px;
  }

  .thank-you {
    max-width: 1000px;
  }
}
